* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Segoe UI", sans-serif;
}

body {
    height: 100vh;
    background: linear-gradient(135deg, #1e40af, #2563eb);
    display: flex;
    align-items: center;
    justify-content: center;
}

.auth-container {
    width: 100%;
    max-width: 420px;
}
button:disabled {
    background-color: #cccccc;
    cursor: not-allowed;
    opacity: 0.7;
}

.auth-card {
    background: white;
    padding: 40px;
    border-radius: 18px;
    box-shadow: 0 25px 50px rgba(0,0,0,0.25);
    text-align: center;
}

.auth-card h1 {
    color: #1e40af;
    margin-bottom: 10px;
}

.auth-card p {
    color: #555;
    margin-bottom: 25px;
}

.auth-card input,
.auth-card select {
    width: 100%;
    padding: 12px;
    margin-bottom: 15px;
    border-radius: 10px;
    border: 1px solid #ccc;
    font-size: 15px;
}

.auth-card button {
    width: 100%;
    padding: 14px;
    background: #1e40af;
    color: white;
    border: none;
    border-radius: 10px;
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s;
}

.auth-card button:hover {
    background: #15308a;
}

.switch {
    margin-top: 20px;
    font-size: 14px;
}

.switch a {
    color: #1e40af;
    text-decoration: none;
    font-weight: 600;
}
